.coloured-content {
    background-color: #EAEAF6;
    z-index: -2;
    height: 770px;
}

.image {
    z-index: -1;
}

.signup-image {
    margin-top: -100px;
}

.signup-content {
    /*margin-top: -500px;*/
    margin-top: 100px;
    height: 770px;
}

.signup-format {
    margin-top: -20px;
}

.authContainer {
    margin-top: -100px;
    margin-left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContent {
    display: flex;
    width: 100%;
}

.entries {
    margin-top: 150px;
}
.text-part {
    margin-left: 70px;
}

.form-form {
    width: 400px;
}

.imageContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContent img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.submit-button {
    padding: 5px;
    background-color: #2e1aa8;
    border-color: #2e1aa8;
    justify-content: space-between;
    border-radius: 30px;
    border-width: 2px;
    width: 90px;
    color: #fff;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #ffffff;
    color: #2e1aa8;
    border-color: #2e1aa8;
}

.auth-texts {
    font-size: 14px;
}

.auth-text {
    color: #897df6;
}

.auth-text:hover {
    color: #483e88;
}
