.horizontal-navbar {
    display: flex;
    flex-direction: row-reverse;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-text {
    display: flex;
    flex-direction: column;

}

.heading {
    font-size: 3.125rem;
}

