.main {
    background-position: top right;
}

.horizontal-navbar {
    display: flex;
    height: 50px;
    flex-direction: row-reverse;
}

.landing-background {
    top: 0;
    right: 0;
    z-index: -2;
}
/*.header {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/

.header-text {
    display: flex;
    flex-direction: column;

}

.heading {
    font-size: 3.125rem;
}

