.trips-container {
	max-width: 600px;
}

.trip-size {
	width: 600px;
}

.trips-container h2 {
	/*text-align: center;*/
	margin-bottom: 20px;
}

.select-button {
	background-color: #2e1aa8;
	border-color: #2e1aa8;
	justify-content: center;
	border-radius: 70px;
	border-width: 2px;
	width: 90px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.select-button:hover {
	background-color: #ffffff;
	border-color: #2e1aa8;
	color: #2e1aa8;
}

.trips-container form {
	margin-bottom: 20px;
}

.trips-container ul {
	list-style-type: none;
	padding: 0;
}

.trips-container ul li {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

.trips-page-container {
	margin-left: 100px;
	max-width: 1000px;
	margin-top: 250px;
	border-width: 1px;
	border-color: #a6a6a6;
	border-radius: 20px;
}

.trips-tabs {
	margin-top: 30px;
	width: 600px;
}